h1 {
    font-family: "Caveat", cursive;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0;
    }

* {
    color:white;
    background-color: black;
    text-align: center;
    }

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
    }

.motivation-img {
    border: 5px solid white;
    width: 100%;
    margin: 0;
    }
p {
    font-size: 30px;
    margin: 10px;
}